# Dependencies
node_modules/

# Builds
/dist/
/dist-ssr/
/build/
/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*.local

# Misc
.DS_Store
Thumbs.db
*.local

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/

# Coverage
coverage/

# OS
Desktop.ini
